<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SMS_Database" 
         connectionString="Host=localhost;Port=5432;Username=postgres;Password=supersaiyanuser;Database=sms_database;"
         providerName="Npgsql" />
  </connectionStrings>
</configuration>

